.draggable-div{
	border: 1px solid green;
	margin:2px;
	padding: 2px;
	display: inline-block;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

.draggable-itam{
	width: 100px;
    height: 30px;
    margin: 10px;
    border: 2px solid #aaaaaa;
    display: inline-flex;
    font-size: x-small;
    font-weight: bold;
    align-items: center;
    cursor: move;
}


.dragable-container{
    border: 1px solid blue;
}

.droppable-container{
	min-height: 100px;
	min-width: 100px;
    border: 1px solid blue;
    margin-bottom: 10px;
}